PasswordAuthentication no
AllowAgentForwarding yes
ChallengeResponseAuthentication no
PermitUserEnvironment yes
AllowTcpForwarding yes
X11Forwarding yes
PermitTunnel yes
Port 2222
HostKey .sshd/hostkey
PidFile /tmp/.sshd.pid
AuthorizedKeysFile .ssh/authorized_keys
