PasswordAuthentication no
AllowAgentForwarding yes
ChallengeResponseAuthentication no
PermitUserEnvironment yes
AllowTcpForwarding yes
X11Forwarding yes
PermitTunnel yes
Port 2222
Subsystem sftp internal-sftp
ClientAliveInterval 180
ClientAliveCountMax 2
