# template for $HOME/.ssh/config

Host dev-vm
    IdentityFile ~/.lima/_config/user
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    NoHostAuthenticationForLocalhost yes
    HostName localhost
    Port 60022
    ForwardAgent yes

Host dev-forward
    User dev
    IdentityFile ~/.ssh/id_ed25519
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    NoHostAuthenticationForLocalhost yes
    HostName localhost
    Port 2222
    ForwardAgent yes
    ForwardX11 yes
